body {
    background-image: linear-gradient(orange,    red);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
.box1 {
    height: 75%;
    width: 70%;
    border-radius: 10px;
    background-color: beige;
    position:absolute;      
    left:230px;
    top: 120px;
}
.text1 {
    height: 5%;
    width: 40%;
    position: absolute;
    left: 450px;
    top: 120px;
}
.text1 input{
border-radius: 10px;
background-color: red;
padding: 3%;
background-image: linear-gradient( to right orange, red);

}
.Box2 {
    height: 50%;
    width: 30%;
    background-image:linear-gradient( red,rgb(255, 192, 192));
    background-repeat: no-repeat;
    position: absolute;
    left:11%;
    top: 30%;
    border-radius: 13px;
   
}