body {
    background-image: linear-gradient(rgb(16, 236, 16),rgb(2, 61, 2));
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
  .box2 p {
        position: absolute;
        left: 40%;
        top: 68%;
        font-size: x-large; 
    }
   .box2 i {
        font-size: 200%;
        position: absolute;
        left: 44%;
        top: 71%;
        color: red;
        
    }

.box1 {
    height:55%;
    width: 65%;
    background-image: linear-gradient(rgb(153, 219, 153),rgb(14, 187, 14));
    background-repeat: no-repeat;
    position: absolute;
    left: 17%;
    top: 14%;
    border-radius: 10px;
}
.box1 span{
    font-size: 100px;
    position: absolute;
    width: 80px;
    left: 15%;
    top: 23%;
    color: aliceblue;
}
 .box1 p {
    
    position: absolute;
    display: flex;
    text-align: center;
    height: 20px;
    width: 30px;
    left: 10%;
    top: 60%;
    color: rgb(0, 7, 12);
    gap: 2rem;
 }
 .box1 button{
    color: rgb(56, 143, 25);
    position: absolute;
    padding:10px;
    top: 80%;
    left: 17%;
   background-color: rgb(83, 180, 83);
    border-radius: 10px;
 }
 .box4 {
    position: absolute;
    background-image: linear-gradient(rgb(177, 168, 168));
    background-repeat: no-repeat;
    background-color: rgb(163, 160, 155);
    border-radius: 10px;
    top: 20%;
    left: 40%;
    height: 40%;
    width: 40%;
 }
