p{
    border: 10px snow greenyellow;
    border-radius: 10px;
    padding: 3%;
    background-image: url(https://img.freepik.com/free-vector/colorful-watercolor-rainbow-background_125540-151.jpg?size=626&ext=jpg&ga=GA1.2.897002883.1691845655&semt=ais);
}