body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm8tv-HeQ3pJA-SHSFP0EEAMvVPu_YBigufQ&usqp=CAU);
    background-repeat: no-repeat;
    background-position: 50% 5%;
}