body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJV8NBQ7y8lK_Vzq09-9n-2ZoAojSxBvJWvw&usqp=CAU);
    background-repeat: no-repeat;
    background-position: 100% -285%;
}