body {
    background-image: url(https://i.pinimg.com/736x/34/80/3c/34803cd7c5e9c2131d9236c7ab58e64b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
pre {
    color: beige;
}